{
  "auxiliaryCommentBefore": "istanbul ignore next",
  "presets": [
    "es2015",
    "react"
  ],
  "plugins": [
    "transform-object-rest-spread",
    "transform-class-properties"
  ],
  "env": {
    "test": {
      "plugins": [ [ "__coverage__", { "ignore": "**/*/__spec__.js" } ] ]
    }
  }
}
