{
  "presets": [
    ["env", {
      "useBuiltIns": "usage",
      "targets": {
        "browsers": "IE 11"
      }
    }],
    "react"
  ],
  "plugins": [
    "transform-object-rest-spread",
    "transform-class-properties",
    "lodash"
  ]
}
