{
  "presets": [
    "es2015",
    "react"
  ],
  "plugins": [
    "transform-decorators-legacy",
    "transform-object-rest-spread",
    "transform-class-properties"
  ],
  "env": {
    "test": {
      "auxiliaryCommentBefore": "istanbul ignore next",
      "plugins": [ [ "istanbul", { "exclude": ["**/*/__spec__.js", "**/node_modules/**"] } ] ]
    },
    "development": {
      "plugins": [
        ["react-transform", {
          "transforms": [{
            "transform": "livereactload/babel-transform",
            "imports": ["react"]
          }]
        }]
      ]
    }
  }
}
