{
  "parser": "babel-eslint",
  "rules": {
    // Enforce a defaultProps definition for every prop that is not a required prop
    // https://github.com/yannickcr/eslint-plugin-react/blob/master/docs/rules/require-default-props.md
    "react/require-default-props": 0,

    // Prevent missing props validation in a React component definition
    "react/prop-types": 0,

    // Enforce component methods order
    "react/sort-comp": 0,

    // Prevent missing parentheses around multilines JSX
    "react/jsx-wrap-multilines": 0,

    //Limit maximum of props on a single line in JSX
    "react/jsx-max-props-per-line": 0,

    // Prevent void DOM elements from receiving children
    // https://github.com/yannickcr/eslint-plugin-react/blob/master/docs/rules/void-dom-elements-no-children.md
    "react/void-dom-elements-no-children": 0,

    // Prevent using Array index in `key` props
    "react/no-array-index-key": 0,

    // A non-interactive element does not support event handlers (mouse and key handlers)
    // https://github.com/evcohen/eslint-plugin-jsx-a11y/blob/master/docs/rules/no-noninteractive-element-interactions.md
    "jsx-a11y/no-noninteractive-element-interactions": 0,

    // Requires or disallows a whitespace (space or tab) beginning a comment
    "spaced-comment": 0,

    // disallow use of chained assignment expressions
    // http://eslint.org/docs/rules/no-multi-assign
    "no-multi-assign": 0,

    // this stops errors when React is imported but does not appear to be used because of JSX compilation
    "react/jsx-uses-react": 1,

    // see https://github.com/yannickcr/eslint-plugin-react/blob/master/docs/rules/jsx-uses-vars.md
    "react/jsx-uses-vars": 1,

    // this is from the babel-eslint setup https://github.com/babel/babel-eslint#setup
    "strict": 0,

    "no-trailing-spaces": [2],

    // indentation of 2 spaces, and specific indentation for stacked variable declarations and switch/case statements
    "indent": [2, 2, {
      "VariableDeclarator": 2,
      "SwitchCase": 1
    }],

    // line breaks for unix based systems
    "linebreak-style": [2, "unix"],

    // enable semi-colons
    "semi": [2, "always"],

    // enable semi-colon spacing
    "semi-spacing": [2, {"before": false, "after": true}],

    // https://github.com/benmosher/eslint-plugin-import/blob/master/docs/rules/no-extraneous-dependencies.md
    "import/no-extraneous-dependencies": "off",

    // http://eslint.org/docs/rules/comma-dangle
    "comma-dangle": ["error", "never"],

    // https://github.com/yannickcr/eslint-plugin-react/blob/master/docs/rules/jsx-filename-extension.md
    "react/jsx-filename-extension": "off",

    // https://github.com/yannickcr/eslint-plugin-react/blob/master/docs/rules/jsx-curly-spacing.md
    "react/jsx-curly-spacing": [2, "always"],

    //http://eslint.org/docs/rules/guard-for-in
    "guard-for-in": "off",

    // http://eslint.org/docs/rules/one-var-declaration-per-line
    "one-var-declaration-per-line": "off",

    // http://eslint.org/docs/rules/one-var
    "one-var": "off",

    // http://eslint.org/docs/rules/no-restricted-syntax
    "no-restricted-syntax": "off",

    "jsx-quotes": ["error", "prefer-single"],

    // http://eslint.org/docs/rules/no-underscore-dangle
    "no-underscore-dangle": "off",

    "react/forbid-prop-types": "off",

    // http://eslint.org/docs/rules/no-plusplus
    "no-plusplus": ["error", { "allowForLoopAfterthoughts": true }],

    "max-len": ["error", 120],

    // http://eslint.org/docs/rules/array-bracket-spacing
    "array-bracket-spacing": ["error", "never"],

    "max-params": ["error", 5],

    // http://eslint.org/docs/rules/arrow-body-style
    "arrow-body-style": "off",

    // http://eslint.org/docs/rules/func-names
    "func-names": "off",

    // http://eslint.org/docs/rules/multiline-ternary
    "multiline-ternary": ["error", "never"],

    // http://eslint.org/docs/rules/space-before-function-parentheses
    "space-before-function-paren": "off",

    // http://eslint.org/docs/rules/prefer-const
    "prefer-const": ["error", {"destructuring": "any"}],

    // http://eslint.org/docs/rules/class-methods-use-this
    "class-methods-use-this": "off",

    // https://github.com/benmosher/eslint-plugin-import/blob/master/docs/rules/no-unresolved.md
    "import/no-unresolved": "off",
    "import/extensions": ["off", "never"],

    // https://github.com/evcohen/eslint-plugin-jsx-a11y/blob/master/docs/rules/no-static-element-interactions.md
    'jsx-a11y/no-static-element-interactions': 'off',

    // http://eslint.org/docs/rules/no-param-reassign
    "no-param-reassign": ["error", { "props": false }],

    // http://eslint.org/docs/rules/no-use-before-define
    "no-use-before-define": ["error", { "functions": false, "classes": false }]
  },
  "env": {
    "es6": true,
    "browser": true,
    "jasmine": true
  },
  "extends": [ "eslint:recommended", "plugin:react/recommended", "airbnb"],
  "ecmaFeatures": {
    "jsx": true,
    "experimentalObjectRestSpread": true,
    "modules": true,
    "arrowFunctions": true
  },
  "plugins": [
    "react"
  ]
}
